@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.surahFont {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

.floating-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}
