@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.surahFont {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

.floating-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.surah-container {
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 11em;
}
.arabicFont {
	font-family: 'Noto Naskh Arabic', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
@media screen and (max-width: 768px) {
	.surah-container {
		margin-left: 2rem;
		margin-right: 2rem;
		margin-top: 16em;
	}
}
